#customize-control-videobox_logo-visible, #customize-control-videobox_menu-visible {
	margin-bottom: 0;
}

#customize-control-videobox_logo-visible::before {
	content: 'Visibility';
	display: block;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	margin-bottom: 5px;
}

#customize-control-videobox_header-elements-order .videobox-header-elements-order-sortable {
	counter-reset: list;
	font-size: 14px;
	line-height: 18px;
	color: #32373c;
	background: #fff;
	padding: 0 5px;
	border: 1px solid #ddd;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
	margin: 0;
}

#customize-control-videobox_header-elements-order .videobox-header-elements-order-sortable:focus {
	border-color: #5b9dd9;
	-moz-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
	-webkit-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
	box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}

#customize-control-videobox_header-elements-order .videobox-header-elements-order-sortable li {
	cursor: move;
	background: #f7f7f7;
	list-style: none;
	padding: 5px 10px;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 0 #ccc;
	-webkit-box-shadow: 0 1px 0 #ccc;
	box-shadow: 0 1px 0 #ccc;
	margin: 8px 0;
}

#customize-control-videobox_header-elements-order .videobox-header-elements-order-sortable li:hover {
	color: #000;
	border-color: #999;
}

#customize-control-videobox_header-elements-order .videobox-header-elements-order-sortable li.disabled {
	pointer-events: none;
	opacity: 0.5;
}

#customize-control-videobox_header-elements-order .videobox-header-elements-order-sortable li:not(.ui-sortable-placeholder)::before {
	counter-increment: list;
	content: counter(list) '.';
	color: #888;
	margin: 0 5px 0 0;
}

#customize-control-videobox_header-elements-order .videobox-header-elements-order-sortable li.ui-sortable-placeholder {
	visibility: visible !important;
	background: rgba(0, 0, 0, 0.01);
	border: 1px dashed rgba(0, 0, 0, 0.1);
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#customize-control-videobox_featured-image-overlay-opacity .overlay-opacity-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
}

#customize-control-videobox_featured-image-overlay-opacity input[type='range'] {
	width: 100%;
}

#customize-control-videobox_featured-image-overlay-opacity-value {
	width: auto;
	padding-top: 3px;
}

#customize-control-videobox_featured-image-overlay-color.disabled, #customize-control-videobox_featured-image-overlay-opacity.disabled {
	pointer-events: none;
	opacity: 0.3;
}