/*
Theme Name: VideoBox
Description: Used to style the TinyMCE editor.
*/


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #444;
    font-size: 16px;
    line-height: 1.7;
}

a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
    color: #222;
}

blockquote { font-size: 20px; }

.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignleft { float:left; margin:5px 10px 5px 0; }
.alignright { float:right; margin:10px 0px 10px 15px; }
